@model EmployeesModel
<h1> Opis</h1>
<p></p>
<p>Aplikacja służy do dynamicznego planowania budżetu potrzebnego do rozliczenia pracowników danego działu w zależności od ilości dni pracy w miesiącu oraz puli pieniędzy przeznaczonej na wypłaty.</p>