@model IEnumerable<Salary_Distribution.Models.EmployeesModel>
<h1> Pracownicy</h1>


<h3>Dodawanie nowego pracownika</h3>
<form class="container" id="employeeForm">
    <input type="text" name="userName" placeholder="Imię" id="userName" />
    <input type="text" name="userSurname" placeholder="Nazwisko" id="userSurname" />
    <label for="isForeman">Brygadzista?</label>
    <input type="checkbox" id="isForeman" />
    <input type="number" name="salary" placeholder="Stawka" id="salary" />
    <input type="submit" id="addButton" value="Dodaj" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Imię
            </th>
            <th>
                Nazwisko
            </th>
            <th>
                Brygadzista
            </th>
            <th>
                Stawka
            </th>
        </tr>
    </thead>

    <tbody id="employeesTable">
        @foreach (EmployeesModel item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Surname
                <td>
                    @(item.Foreman ? "Tak" : "Nie")
                </td>
                <td>
                    @item.Salary
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/js/addNewEmployee.js"></script>
}